<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%highlight{%level}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan}] [%t] %c{1}: %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.ihsanharh.gibot" level="INFO" />
        <Logger name="org.cloudburstmc" level="ERROR" />
        <Logger name="io.netty" level="ERROR" />
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
